<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-3">
            <nb-card>
                <nb-card-header>
                    <h1>Dashboard</h1>
                </nb-card-header>
                <nb-card-body>
                    Pago Para No Generar Intereses del Periodo
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-sm-3">
            <nb-card>
                <nb-card-header>
                    <h1>Dashboard</h1>
                </nb-card-header>
                <nb-card-body>
                    Suma De Las Deudas del Periodo
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-sm-3">
            <nb-card>
                <nb-card-header>
                    <h1>Dashboard</h1>
                </nb-card-header>
                <nb-card-body>
                    Diferencia
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-sm-3">
            <nb-card>
                <nb-card-header>
                    <h1>Dashboard</h1>
                </nb-card-header>
                <nb-card-body>
                    Deudas Recurrentes
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <h1>Deudas Sin Pagar del Periodo en Curso</h1>
            </nb-card-header>
            <nb-card-body>

            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <h1>Deudas Pagadas del Periodo en Curso</h1>
            </nb-card-header>
            <nb-card-body>

            </nb-card-body>
        </nb-card>
    </div>
</div>